{% extends "pageTemplate.html" %}

{% block content_title %}
{{ _('Dashboard') }}
{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-lg-6 col-md-12">
        <div class="card border-dark mb-4 h-100">
            <div class="card-header">{{ _('User Information') }}</div>
            <div class="card-body">
                <p><strong>{{ _('Name:') }}</strong> {{ current_user.username }}</p>
                <p><strong>{{ _('Date Registered:') }}</strong> {{ date }}</p>
                <hr>
                <form action="{{ url_for('user.updateLanguage') }}" method="get">
                    <div class="mb-3">
                        <label for="displayLang" class="form-label">{{ _('Display Language') }}</label>
                        <select class="form-select" id="displayLang" name="lang">
                            {% for lang, flag in supported_languages.items() %}
                                <option value="{{ lang }}" {% if lang == session.get('lang', 'en') %}selected{% endif %}>{{ flag }} {{ lang.upper() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="nativeLang" class="form-label">{{ _('Native Language') }}</label>
                        <select class="form-select" id="nativeLang" name="native_lang">
                            {% for lang, flag in supported_languages.items() %}
                                <option value="{{ lang }}" {% if lang == current_user.mother_language %}selected{% endif %}>{{ flag }} {{ lang.upper() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ _('Update Preferences') }}</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card border-dark mb-4 h-100">
            <div class="card-header">{{ _('Recent Test Accuracy') }}</div>
            <div class="card-body" style="min-height: 400px;">
                <canvas id="accuracyChart" style="width: 100%; height: 100%;"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-lg-6 col-md-12 " style="max-height: 500px">
        <div class="card border-dark mb-4 h-100">
            <div class="card-header">{{ _('Tested Language Map') }}</div>
            <div class="card-body" style="min-height: 100px; position: relative;">
                <div id="globeViz" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card border-dark mb-4 h-100">
            <div class="card-header">{{ _('Recent Errors') }}</div>
            <div class="card-body">
                {% if errors %}
                    <ul class="list-group">
                        {% for error in errors %}
                            <li class="list-group-item">
                                <strong>{{ _('Question') }}:</strong> {{ error.question_number }} <br>
                                <strong>{{ _('Your Answer') }}:</strong> {{ error.user_answer }} <br>
                                <strong>{{ _('Correct Answer') }}:</strong> {{ error.correct_answer }} <br>
                                <strong>{{ _('Accuracy') }}:</strong> {{ error.percent_correct }}%
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ _('No errors to display.') }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var chartData = {
        labels: {{ labels | safe }},
        data: {{ data | safe }},
        label: '{{ _('Accuracy') }}'
    };

    var highlightLanguages = {{ highlight_languages | tojson }};
</script>
<script src="//unpkg.com/globe.gl"></script>
<script src="{{ url_for('static', filename='js/accuracyChart.js') }}"></script>
<script src="{{ url_for('static', filename='js/globe.js') }}"></script>
{% endblock %}
